#site-description {
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

#site-description .logo {
	float: none;
}

.search-header {
	margin-top: -40px;
}

#new_title h1 {
	text-align: center;
	width: 100%;
}

#new_title p {
	text-align: center;
	width: 100%;
}
