#site-description {
    text-align: left;
    width: 100%;
    margin-left: 10px;
}

#site-description .logo {
	float: right;
	margin-right: 10px
}

#new_title h1 {
	clear: both;
	float: right;
	margin-right: 10px;
}

#new_title p {
	clear: both;
	float: right;
	margin-right: 10px;
}
